<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>备忘录</title>
    <link rel="stylesheet" href="./css/todo.css">
  </head>
  <body>
    <section class="todoapp" v-cloak>
      <header class="header">
        <h1>备忘录</h1>
        <input
          autofocus="autofocus"
          autocomplete="off"
          placeholder="你想干啥!"
          class="new-todo"
          @keyup.enter.trim="addTodo" 
          v-model="inputValue"
        />
      </header>
      <section class="main">
        <input type="checkbox" class="toggle-all" @change="setCeckAll" v-model="isCheckAll"/>
        <ul class="todo-list">
          <li class="todo" @dblclick="compile(index)" v-for="(item,index) in currentList" :class="{completed:item.isCompleted,editing:index == editTodo }" v-cloak>
            <div class="view">
              <input type="checkbox" class="toggle" v-model="item.isCompleted" @change="eachCeckbox"/>
              <label >{{item.content}}</label> <button class="destroy" @click="deleteOnce(index)"></button>
            </div>
            <!-- 编辑文本框 -->
            <input type="text" class="edit" v-model="item.content" @keyup.enter="editTodo=undefined" @blur="editTodo=undefined"/>
          </li>
        </ul>
      </section>
      <footer class="footer">
        <span class="todo-count" v-show="unCompletedNum != 0"><strong>{{unCompletedNum}}</strong> {{unCompletedNum>1?'items':'item'}} left </span>
        <ul class="filters">
          <li><a href="#/all" :class="{selected:status == 'All'}" @click="status='All'">All</a></li>
          <li><a href="#/active" :class="{selected:status =='Active'}" @click="status='Active'">Active</a></li>
          <li><a href="#/completed" :class="{selected:status =='Completed'}" @click="status='Completed'">Completed</a></li>
        </ul>
        <button class="clear-completed" @click="ClearCompleted">Clear completed</button>
      </footer>
    </section>
    <footer class="info" v-cloak>
      <p>双击进入编辑状态</p>
      <p>感谢 <a href="http://evanyou.me">Evan You</a></p>
      <p>感谢 <a href="http://todomvc.com">TodoMVC</a></p>
      <p>关于我 <a href="https://autumnfish.github.io/"></a></p>
    </footer>
  </body>
</html>
<script src="./js/vue-2.4.0.js"></script>
<script>
  //创建vue实例
  let app = new Vue({
    el:'.todoapp',
    data:{
      //用户输入的数据
      inputValue:'',
      //所有输入的记录 是一个数组
      todoList:[],
       //是否全选
       isCheckAll:false,
       //编辑的对象
       editTodo:undefined,
       //定义字段保存当前状态
       status:"all"
    },
    methods:{
      //添加todo的方法
      addTodo(){
           //如果用户什么都内容都没有输入 提示一下
           if(this.inputValue ==""){
             alert('兄弟输点东西呗！')
             return;
           }
           this.todoList.unshift({
             //内容
             content:this.inputValue,
             //是否完成
             isCompleted:false,
            

            },
           ),
            //清空输入框
            this.inputValue=""
      },
      //删除某一项的方法
      deleteOnce(index){
        this.todoList.splice(index,1);
      },
      //清空数据的方法
      ClearCompleted(){
        //循环遍历清除数据
        for(let i=this.todoList.length-1;i>=0;i--){
           if(this.todoList[i].isCompleted == true){
               this.todoList.splice(i,1)
           }
        }
      }
      //将保存好的数据取出来 
      //全部选中的方法
      ,setCeckAll(){
        // console.log(this.isCheckAll)
        this.todoList.forEach(element => {
          element.isCompleted = this.isCheckAll
        });
      }
      //选中的方法
      ,eachCeckbox(){
           //总个数
           let totalCount = this.todoList.length;
           //选中的个数
           let checkedCount = 0;
           this.todoList.forEach(element => {
             if(element.isCompleted == true){
              checkedCount++;
             }
           });
          //  console.log(totalCount +"||"+ checkedCount)
           //把布尔值比较的结果赋值回去
           this.isCheckAll = totalCount == checkedCount;

      }
      //双击编的方法
      ,compile(index){
        //  console.log('1111')
        this.editTodo = index;
      }
    }
  ,created(){
    this.todoList = JSON.parse(window.localStorage.getItem("currentList")) || [
        { content: "吃饭饭", completed: false }]
    
   }
  ,//计算属性
  computed:{
    unCompletedNum(){
      let num = 0;
      this.todoList.forEach(element =>{
        if(element.isCompleted == false){
          num++;
        }
       
      })
      return num;
    }
    ,
    //计算出status 不同状态时 显示不同的数组
    currentList(){
        if(this.status == 'All'){
          return this.todoList;
        }else if(this.status == 'Active'){
           let tempArr = [];
           this.todoList.forEach(element=>{
             if(element.isCompleted == false){
              tempArr.push(element);
             }
           });
           //返回生成的新数组
           return tempArr; 
        }else{
          //声明一个空数组 用来保存 新数组
          let tempArr =[];
          this.todoList.forEach(element=>{
            if(element.isCompleted == true){
              tempArr.push(element);
            }
          });
          return tempArr;
        }
    }
  }
  })
//页面关闭时缓存数据
window.onbeforeunload = ()=>{
  window.localStorage.setItem('currentList',JSON.stringify(app.todoList))
}
</script>
